@CHARSET "ISO-8859-1";

body{
	background-color:#CADEDE
}

#pageCarousel {
	background-image: url("http://data.whicdn.com/images/61964208/large.jpg");
	height:250px;
	}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      min-width: 100%;
    height: 250px !important;
    
  }


   .carousel-inner > .item > .carousel-caption >h2{
      	color:#26D6FF;
     	font-weight: 900;
     	text-align:center;
     	 text-shadow:
    -1px -1px 0 #0D93B2,
    1px -1px 0 #0D93B2,
    -1px 1px 0 #0D93B2,
    1px 1px 0 #0D93B2;
     	   	
     
   }