@CHARSET "ISO-8859-1";




.contents {
	position: relative;
	display: inline-block;
	height: 270px;
	width: 210px;
	border-radius: 100%;
	border: 2px solid #F20000;

	margin-left: 10px;
	margin-top: 5px;
	margin-right 15px;
	margin-bottom: 10px;
	text-align: center;
}

.contents  p {
	position: relative;
	margin-top: 15px;
	font-size: 25px;
	font-family:cursive;
	 color: #12A1DE;
}
.contents img{
	height: 260px;
	width: 200px;
	border-radius: 100%;
}

   

section{
	padding-top: 10px;
	margin:auto;
	 justify-content: flex-start;
	 font-size:18px;


	
}
section h3{
	text-align:center;
	color: #933156
}

